body {
  background-color: #F5F6F7 !important;
  margin: 0;
  font-family: Open Sans,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* bg-white{
  background-color: #fff !important;
} */
